html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav-link{
  margin-right: 50px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;


letter-spacing: 0.01em;

color: #fff !important ;
}

.tag{
  color: #00A3FF !important;
}

.main-logo{
  width: 10%;
}