.homeBg{
  background-color: #0e1b32;
  height: 100vh;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  /* background: rgba(0, 0, 0, 0.5); */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;

}

.mainHead{
font-family: 'Averia Sans Libre';
font-style: normal;
font-weight: 700;
font-size: 80px;
text-align: center;
letter-spacing: 0.01em;
color: #63E2E7;
}


.headContent{
margin: 120px auto 0;
width: 70%;
}

